<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- toss-client-key를 타임리프로 암호화로 가져옴 -->
    <meta name="toss-client-key" th:content="${clientKey}"/>
    <!-- TODO 사실 이거 부트스트랩 부분인데 필요한지 모르겠음   -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- 토스 페이먼츠 부르기 위한 widget 경로  -->
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
    <title>결제 진행 페이지</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6 p-3">
            <div id="payment-wrapper">
                <div id="payment-method"></div>
                <div id="agreement"></div>
                <div class="p-3 w-100">
                    <button id="payment-request-button" class="btn btn-primary w-100">결제하기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- TODO 따온건데 이거 왜 필요하지? -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
    // <!-- 여기 타임리프 쓰는법 있었는데 까먹어서 일단 직접 넣음 -->
    const clientKey = `test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm`;
    // 대충 이거였음
    // const clientKey = `[[${clientKey}}]]`;

    const urlParams = new URLSearchParams(window.location.search);
    // 인자로 일단 전달해주는게 reservationId랑 [1]roomId랑 [2]orderName인 [3]roomName이 오기는 해용
    const reservationId = urlParams.get('reservationId');
    const roomIdInfo = urlParams.get('roomId');
    const roomName = urlParams.get(roomName);

    const paymentWidget = PaymentWidget(clientKey, PaymentWidget.ANONYMOUS)
    const paymentMethodsWidget = paymentWidget.renderPaymentMethods(
        '#payment-method',
        {
            value: 0,
            currency: 'KRW',
            country: 'KR'
        },
        { variantKey: 'DEFAULT' }
    )
    // 규약 세팅
    const paymentAgreement = paymentWidget.renderAgreement(
        '#agreement',
        { variantKey: 'DEFAULT' }
    )
    const paymentRequestButton = document.getElementById('payment-request-button');
    paymentRequestButton.addEventListener('click', () => {
        try {
            paymentWidget.requestPayment({
                // orderId는 상관없음
                orderId: crypto.randomUUID().replaceAll('-', ''),
                // orderName은 저장되는 item의 name인데 여기서는
                // room을 저장하기 때문에
                // TODO orderName 부분 어디서 가져오긴 해야함 ㅇㅇ
                orderName: `${hotelId}-${document.getElementById('item-name').innerText}`,
            }).then(async data => {
                const response = await fetch('/api/toss/confirm-payment', {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        paymentKey: data.paymentKey,
                        orderId: data.orderId,
                        amount: data.amount
                    }),
                })
                if (response.ok) {
                    window.location.href = '/my-page'
                }
            });
        } catch (err) {
            if (err.code === 'USER_CANCEL') {
                alert('사용자 결제 취소')
                window.location.href = '/hotel/test/paymentFail'
            }
            else alert(err)
        }
    });
    // 어찌저찌 가격에 대한 정보가 없어서 한번 어디에서 불러와서 업데이트 시키긴 해야함
    // TODO 최적화는 05-01 오전~오후중에 마무리 지읍시다.
    // 뭐를 사용해서 어떤걸 불러와야할지는 졸려서 내일 함.
    fetch('받은 정보들로 room의 price를 받을 수 있는 api 부분만 필요함')
        .then(async response => {
            if (!response.ok) {
                alert('일단 1번 오류 부분있음')
            } else {
                alert('뭐 일단 잘 불러왔음')
                response.json().then(body => {
                    // 가격 업데이트 시켜주셈
                    paymentWidget.updateAmount(body.price);
                })
            }
        })
        .catch(error => {
            alert('뭐가 문제 메세지일까요', error);
        })
</script>
</html>