<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main>
        <!-- 각자 맡은 section 부분에 대해 적당히 div 등의 container 만들어서 진행하면 될 것 같습니다 -->
        <section class = "main-page" id="main-page">

        </section>
        <section class= "room-page" id="room-page">

        </section>
        <section class="location" id="location">

        </section>
        <section class =review id="review">

        </section>
        <section class="inquiries" id="inquires">

        </section>
    </main>
</body>
<script>

</script>
</html>