.slider {
    position: relative;
    width: 100%;
    height: 500px; /* 원하는 높이로 조정 가능 */
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: fade 5s infinite;
}

/* 슬라이드 애니메이션 */
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
