<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>User-page</title>
</head>
<style>
    .custom-col {
        margin-right: -11%;
    }
    .mt-4 {
         margin-top: 6rem;
     }
</style>


<body>

<!-- 네비게이션바 -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>


<div class="container mt-4">
    <div class="row mb-3 align-items-center">
        <!-- 프로필 아이콘 -->

    </div>
</div>

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-1 g-4">
        <div th:each="match, iterStat : ${tourInfoApiDtos}" class="col">
            <div class="card h-200">
                <div class="card-body">
                    <h5 class="card-title"><span
                            th:text="${tourInfoApiDtos[iterStat.index].getTitle()}"></span>
                    </h5>
                    <div>
                        <img th:if="${not #lists.isEmpty(tourInfoApiDtos)}"
                             th:src="@{${tourInfoApiDtos[iterStat.index].getFirstImage()}}"
                             alt="Profile Icon" width="100" height="100"/>
                    </div>
                    <p class="card-text">
                    <strong>주소:</strong> <span
                        th:text="${tourInfoApiDtos[iterStat.index].getAddress()}"></span><br>
                    <strong>지역:</strong> <span
                        th:text="${tourInfoApiDtos[iterStat.index].getArea()}"></span><br>
                    <strong>설명:</strong> <span
                        th:text="${tourInfoApiDtos[iterStat.index].getContent()}"></span><br>
                    <strong>전화번호:</strong> <span
                        th:text="${tourInfoApiDtos[iterStat.index].getTel()}"></span><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
<script>
</script>