<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 여부</title>
</head>
<body>
<div id="loginMessage">

</div>
<script>
    // 로그인 여부 확인 함수
    function checkLogin() {
        fetch('http://localhost:8080/test/login', {
            method: 'GET',
        }).then(async response => {
            const data = await response.json();
            if (response.ok) {
                document.getElementById('loginMessage').innerText = '로그인 상태입니다.';
                console.log(data);
            } else {
                document.getElementById('loginMessage').innerText = '로그인 되어 있지 않습니다.';
                console.log(data);
            }
        })
    }

    // 페이지 로드 시 로그인 여부 확인
    window.onload = function() {
        checkLogin();
    };
</script>
</body>
</html>