<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/css/header.css">
<header>
    <!-- 부트 스트랩 세팅도 on -->
    <nav class="navbar">
        <a href="/main" class="logo">로고</a>
        <!-- 나중에 로고에 아이콘 링크시키기 -->
        <ul class="nav-menu">
            <li><a href="/hotel">호텔</a></li>
            <li><a href="/foods">맛집</a></li>
            <!-- 추가 메뉴 항목 -->
        </ul>

        <div class="nav-user-info">
            <!-- 사용자 이름, 로그인 상태, 장바구니 등의 아이콘 -->
            <!-- 사용자 이름 -->
            <span class="username">NOH CHAEWOON</span>
            <!-- 사용자 상태 -->
            <!-- 회원 // 호텔 매니저 // 관리자에따라 다르게 보여주기 -->
            <span class="user-status">회원</span>
            <!-- 아이콘 예시 -->
            <a href="/cart"><i class="cart-icon">🛒</i></a>
            <a href="/my-page"><i class="profile-icon">👤</i></a>
            <!-- ... -->
        </div>
    </nav>
</header>
</html>